* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 999;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}


.border {
    border-bottom: 2px dotted gray;
    margin: 50px 0;
    padding: 30px;
}

.link {
    z-index: 9;
}

.cover-section{
    margin-top: 100px;
}

.link ul li {
    display: inline;
    padding: 15px;
    position: relative;
}

.link ul li:hover ul {
    opacity: 1;
    visibility: visible;
}

.link ul li ul {
    position: absolute;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
}

.link ul li ul li {
    background: #faf8f8;
    display: block;
}

.link ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.link ul li a:hover {
    color: gray;
}

.link ul li ul li a {
    display: block !important;
}

.link ul li ul li:hover {
    background: #f1f0f0;
}

.header-block {
    width: 50%;
    margin-top: 50px;

}

.images {
    width: 100%;
    height: 500px;
    margin: 10px;
}

h1 {
    color: #f1f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

.name p {
    color: #f1f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: 20px 0;
}

.name button {
    background-color: transparent;
    border-color: #f1f0f0;
    padding: 10px 0;
}

.name button a {
    text-decoration: none;
    color: #f1f0f0;
    padding: 10px;
}

.name button a:hover {
    background-color: #f1f0f0;
    color: black;
}

.photo {
    margin: 10px;
    gap: 20px;
}

.pictures {
    width: 48.5%;
    height: 240px;
    position: relative;

}

.pictures h2 {
    color: #f1f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-align: center;
}

.pictures p {
    color: #f1f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;

}

.block {
    width: 90%;
    height: 90%;
    padding: 10px;
    background-color: rgb(58, 57, 57);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.pictures:hover .block {
    opacity: 1;
    visibility: visible;
}

.pictures-title,
.pictures-description {
    transition: 0.3s;
}

.pictures:hover .pictures-title, .pictures:hover .pictures-description {
    opacity: 0;
    visibility: hidden;
}

.block p {
    color: #f1f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.block h3 {
    color: #f1f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.block button {
    background-color: transparent;
    border-color: #f1f0f0;
    padding: 5px 0;
    margin-top: 14px;
}

.block button a {
    text-decoration: none;
    color: #f1f0f0;
    padding: 5px;
}

.block button a:hover {
    background-color: #f1f0f0;
    color: black;
}

.names {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.information {
    width: calc(33.333% - 16.666px);
}

.information img {
    width: 100%;
}

.description {
    gap: 25px;
    
}

.description h4 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: grey;
}

.inform {
    margin-top: 20px;
}

.inform h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

.money p {
    color: gray;
    text-align: end;
}


.products h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;

}

.products p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: gray;
    padding: 30px 0;
}

.products button {
    padding: 10px 0;
}

.products button a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    color: black;
}

.products button a:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.bags h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: black;
}

.bags p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: gray;
    text-align: center;
}

.section-block{
    width: 100%;
    margin-top: 50px;
}
.subscrib h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
.subscrib p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: gray;
    font-size: 16px;
    padding: 15px 0;
}
.subscrib input{
    padding: 10px ;
    margin: 10px;
}
.subscrib button{
    padding: 10px 0;
    font-size: 13px;
}
.subscrib button a {
    text-decoration: none;
    padding: 10px;
    background-color: rgb(9, 8, 8);
    color: #efeded;
}
.foto h4 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.foto p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: grey;
}

.subscrib button a:hover {
    background-color: rgb(250, 248, 248);
    color: rgb(6, 5, 5);
}
.office-block{
    width: 40%;
}

.location, .hours,.phone,.email,.office,.social{
    padding:10px 40px;
    
}
.email{
    margin-left: 50px;   
}
.social{margin-left: 10px;}
.address{
    margin-bottom: 10px;
}
.address p{
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.address a{
    text-decoration: none;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.address a:hover{
    color: black;
}
.logo {
    padding-top: 20px;
}
.logo h3{
    color: #efeded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}
.logo ul li,p{
    text-align:start;
    padding: 10px;
    color: #efeded;  
    display: block;
}
.logo a{
    text-decoration: none;
    color: #efeded;

}
.logo a:hover{
    color: gray;
}
.logo img{
    color: #f1f0f0;
}
.reserved{
    border-top: 1px solid white;
    margin:10px 60px;
}
.reserved h6{
    color: #efeded;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}
.reserv a{
    color: aqua;
    text-decoration: none;
}
.reserv a:hover{
    color: rgb(224, 77, 28);
}
.reserv i{
    padding: 10px;
    font-size: 30px;
}
